<a href="https://colab.research.google.com/github/Moonkyusang/2021_PNUAC_AIData/blob/main/04_pandas_02_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame**
+ 2차원 자료구조인 DataFrame는 행과 열이 있는 테이블 데이터

## **pandas 라이브러리 추가**

In [28]:
import pandas as pd

## 데이터프레임으로 변환
* **pd.DataFrame()**

###  리스트를 데이터프레임으로 변환

In [29]:
area = ['서울',	'부산',	'대구',	'인천',	'광주',	'대전',	'울산',	'세종',	'경기',	'강원',	'충북',	'충남',	'전북',	'전남',	'경북',	'경남',	'제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]

In [30]:
#데이터 프레임 생성하기
df=pd.DataFrame()
df['지역']= area
df['평균']= pm25_avg
df['최대']= pm25_max
df['최소']= pm25_min

df

    지역  평균  최대  최소
0   서울  20  22  16
1   부산  13  18  10
2   대구  15  18  11
3   인천  20  30  12
4   광주  19  23  15
5   대전  16  20  12
6   울산  14  16  11
7   세종  18  19  17
8   경기  20  27  13
9   강원  14  18   9
10  충북  19  26  14
11  충남  23  29  19
12  전북  23  30  14
13  전남  14  27  10
14  경북  15  23   8
15  경남  13  17   9
16  제주  14  16  11

In [31]:
df['지역']

0     서울
1     부산
2     대구
3     인천
4     광주
5     대전
6     울산
7     세종
8     경기
9     강원
10    충북
11    충남
12    전북
13    전남
14    경북
15    경남
16    제주
Name: 지역, dtype: object

In [32]:
type(df['지역'])

pandas.core.series.Series

## 외부 데이터 가져오기
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')
>
```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)
>
```
df = pd.pd.read_excel(‘파일명‘)
```

In [33]:
#지역별주간별_초미세먼지.csv 자료 가져오기
#df = pd.read_csv('/content/지역별주간별_초미세먼지.csv',engine='python',encoding='cp949')
#df

## 데이터프레임(DataFrame) 살펴보기
* 데이터프레임의 정보 : **df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력
+ 데이터프레임의 크기 확인 : **df.shape 속성**
 - (행, 열) 크기를 확인하기
 - 행의 개수 : len(데이터프레임), len(.index), .shape[0]
 - 열의 개수 : len(.column), .shape[1]
+ 데이터프레임의 원소의 총개수 : **df.size 속성**
+ 데이터프레임 개수 확인 :**df.count()**
 - Null이 아닌 행의 개수 확인
 - axis='columns' : Null이 아닌 열의 개수 확인
* 데이터프레임의 인덱스 
 + 열의 인덱스 : **df.colums**
 + 행의 인덱스 : **df.index**
 + **데이터프레임의 인덱스 변경**
   - 열인덱스 명 변경 : df.column = [열명인덱스]
   - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
   - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [34]:
#데이터프레임의 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      17 non-null     object
 1   평균      17 non-null     int64
 2   최대      17 non-null     int64
 3   최소      17 non-null     int64
dtypes: int64(3), object(1)
memory usage: 672.0+ bytes

In [35]:
#데이터프레임의 크기 확인
print('데이터프레임 (행, 열) : ', df.shape)
print('데이터프레임 행 개수 len : ', len(df))
print('데이터프레임 행 개수 len : ', len(df.index)  )
print('데이터프레임 행 개수 shape : ', df.shape[0])
print('데이터프레임 열 개수 len : ', len(df.columns))
print('데이터프레임 열 개수 shape : ', df.shape[1])

데이터프레임 (행, 열) :  (17, 4)
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 shape :  17
데이터프레임 열 개수 len :  4
데이터프레임 열 개수 shape :  4

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#데이터프레임 각 열의개수 확인
print(df.count())
print('-'*20)
print(df.count(axis='columns'))

In [ ]:
#데이터프레임의 원소의 총개수
print(df.size)

In [ ]:
#데이터프레임의 인덱스
print('열인덱스 : ', df.columns)
print('행인덱스 :',df.index)

In [ ]:
#각 문자열 요소에서 공백 제거
lt = ['지역 ', '주간평균 ', '최고값 ', '최저값 ']
lt = [item.strip() for item in lt ]
lt

In [ ]:
df['지역 ']

In [ ]:
#열명의 공백 제거 
df.columns= [item.strip() for item in df.columns]
df.columns

In [ ]:
df['지역']

In [ ]:
#지역 컬럼을 행 인덱스로 지정
df=df.set_index('지역')
df

In [ ]:
df.index

In [ ]:
#인덱스를 일반 데이터 열로 전환
df=df.reset_index()
df

## **데이터프레임 인덱싱(indexing)과 슬라이싱(slicing)**

In [ ]:
df = df.set_index('지역')
df.head()

### df[]
 + 특정 열 가져오기 : df[열인덱스], df[열인덱스 리스트]
 + 특정 행 가져오기 : df[시작행인덱스:종료행인덱스]

In [ ]:
#특정 열(주간평균) 가져오기
df['주간평균']

In [ ]:
##특정 열(주간평균, 최저값) 가져오기

In [ ]:
#특정행(부산에서 인천까지) 가져오기

### df.loc[행인덱스, 열인덱스]
* 특정 열 가져오기 : df.loc[:, 열인덱스]
* 특정 행 가져오기 : df.loc[행인덱스, :]
* 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]

In [ ]:
df['최저값']

In [ ]:
#loc 메소드로 특정 열(최저값) 가져오기

In [ ]:
#loc 메소드로 특정 열(최저값) 가져와서 메소드를 사용하여 데이터프레임으로 변환

In [ ]:
#loc 메소드로 특정 열(최저값) 가져와서 메소드 없이 데이터프레임으로 변환
df.loc[:, ['최저값']]

In [ ]:
#loc 메소드로 특정 열(주간평균, 최저값) 가져오기

In [ ]:
#loc 메소드로 특정 열(주간평균에서 최저값까지) 가져오기

In [ ]:
#특정 행(부산) 가져오기

In [ ]:
#특정 행(부산, 인천) 가져오기

In [ ]:
#특정 행(부산에서 인천까지) 가져오기

In [ ]:
#특정 항목(부산의 주간평균) 가져오기

In [ ]:
#특정 항목(부산과 인천의 주간평균과 최저값) 가져오기

In [ ]:
#특정 항목(부산에서 인천까지의 주간평균에서 최저값까지) 가져오기

### df.iloc[행인덱스순서, 열인덱스순서]
* 특정 열 가져오기 : df.loc[:, 열인덱스순서]
* 특정 행 가져오기 : df.loc[행인덱스순서, :]
* 특정 항목 가져오기 : df.loc[행인덱스순서, 열인덱스순서]

In [ ]:
#특정 열 가져오기
#df.loc[:, '최저값'] 
#iloc로 변경

In [ ]:
#df.loc[:, ['주간평균', '최저값']]
#iloc로 변경

In [ ]:
#df.loc[:, '주간평균':'최저값']
#iloc로 변경

In [ ]:
#특정 행 가져오기
#df.loc['부산',:]
#iloc로 변경

In [ ]:
#df.loc[['부산', '인천'], :]
#iloc로 변경

In [ ]:
#df.loc['부산':'인천', :]
#iloc로 변경

In [ ]:
#특정 항목 가져오기
#df.loc['부산', '주간평균']
#iloc로 변경

In [ ]:
#df.loc[['부산','인천'],['주간평균', '최저값']]
#iloc로 변경

In [ ]:
#df.loc['부산':'인천','주간평균':'최저값']
#iloc로 변경

## **데이터프레임(DataFrame) 기본 조회와 기초 통계 메소드**
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회
+ describe() : 요약 통계량 계산
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.describe()

## 자주사용되는 메소드
+ 행열 전환 : df.T
+ 정렬
 - 행열 인덱스 정렬 : df.sort_index(axis=n), n생략 또는 0:행, 1:열
 - 행렬 값 정렬 : df.sort_values()

In [ ]:
df

In [ ]:
#행과 열 바꾸기

In [ ]:
#한글 폰트 사용설치
%config InlineBackend.figure_format = 'retina'

!apt -qq -y install fonts-nanum

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
 
import matplotlib as mpl
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#주간별 지역별주간별_초미세먼지.csv 데이터 가져오기
df

In [ ]:
#지역으로 인덱스 변경

In [ ]:
df.head()

In [ ]:
#데이터 프레임 그래프 그리기